<!Doctype html>
<html lang="en">
<head>

<!--- basic page needs
================================================== -->
<meta charset="utf-8">
<title>Elevate</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/assets/base.css">
<link rel="stylesheet" href="/assets/vendor.css">
<link rel="stylesheet" href="/assets/main.css">

<!-- script
================================================== -->
<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/pace.min.js"></script>

<!-- favicons
================================================== -->
<link rel="icon" type="/assets/image/png" href="favicon.png">

</head>




{{{body}}}


</html>
