<!Doctype html>
<html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <title>SignUp</title>
     <meta charset="utf-8">
     <meta  name="viewport" content="width=device-width, initial-scale=1">
     <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   <link href="/assets/sty.css" rel='stylesheet' type='text/css'>

   <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>

   <script src='https://www.google.com/recaptcha/api.js'></script>
<style>

</style>

 </head>

         <body >
<div  id="signup1">

        <br>
        <br><br>
        <br>

        {{#if errors}}
              {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
              {{/each}}
        {{/if}}


       <div class="login-box">

         <h1 id="headersignup" class="text-center">SignUp</h1>
         {{#if error}}
          {{#each error}}
           <div class="alert alert-danger">{{msg}}</div>
            {{/each}}
         {{/if}}


         {{#if error_msg}}
           <div class="alert alert-danger">{{error_msg}}</div>
         {{/if}}

         <form action="/signup" method="post" class="form-box">
            <input type="text" name="FirstName" class="inp" placeholder="First Name" required>
            <input type="text"  name="LastName" class="inp" placeholder="Last Name" required>
              <input type="text" name="Username" class="inp" placeholder="Email" required>
              <br>
            <input type="password" name="Password" class="inp" placeholder="Password" required>
            <br>
            <input type="password" name="ConfirmPassword" class="inp" placeholder="Confirm Password" required><br>
            <div class="inp" >
          <select id="Gender" name="Gender" autocomplete="sex">
         <option value="">I am...</option>
         <option value="FEMALE" >
         Female</option>
         <option value="MALE" >
         Male</option>
          </select>
          <br>
          <br>
      <div class="g-recaptcha" name="recaptcha" style="transform:scale(0.88);-webkit-transform:scale(0.88);transform-origin:0 0;-webkit-transform-origin:0 0;" data-sitekey="6LelzCkUAAAAADQesPvzV2gJuV_ZlXoPoozt7Pqt"></div>

         </div>
            <input type="submit" name="submit" class="sub-btn" value="Create Account Now!!"><br><br>

            <div class="btn-group">

            </div>
          </div>

          <br>



          <center >
            <a href="home" style="font-size:100px; color:#00b0ff; text-decoration:none;" class="fa fa-home"></a></center>
            <center><p style="color:#00b0ff; font-size:20px;"> Cypher-ops © 2018</p></center>

        </div>



      </div>




              <script
                src="https://code.jquery.com/jquery-2.2.4.js"
                integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
                crossorigin="anonymous"></script>


              <!-- Latest compiled and minified JavaScript -->
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
              crossorigin="anonymous"></script>

   </body>
</html>
